
.vs/ProgramacionWebApiRest/CopilotIndices/0.2.1653.9816/CodeChunks.db
.vs/ProgramacionWebApiRest/CopilotIndices/0.2.1653.9816/CodeChunks.db-shm
.vs/ProgramacionWebApiRest/CopilotIndices/0.2.1653.9816/SemanticSymbols.db
.vs/ProgramacionWebApiRest/CopilotIndices/0.2.1653.9816/CodeChunks.db-wal
.vs/ProgramacionWebApiRest/CopilotIndices/0.2.1653.9816/SemanticSymbols.db-shm
.vs/ProgramacionWebApiRest/CopilotIndices/0.2.1653.9816/SemanticSymbols.db-wal
.vs/ProgramacionWebApiRest/FileContentIndex/15461bab-e8ef-49d5-a6c4-bb2f46963b96.vsidx
ProgramacionWebApiRest/obj/Debug/net8.0/ProgramacionWebApiRest.AssemblyInfo.cs
ProgramacionWebApiRest/obj/Debug/net8.0/ProgramacionWebApiRest.AssemblyInfoInputs.cache
ProgramacionWebApiRest/obj/Debug/net8.0/ProgramacionWebApiRest.assets.cache
ProgramacionWebApiRest/obj/Debug/net8.0/ProgramacionWebApiRest.GeneratedMSBuildEditorConfig.editorconfig
ProgramacionWebApiRest/obj/ProgramacionWebApiRest.csproj.nuget.dgspec.json
ProgramacionWebApiRest/obj/project.assets.json
ProgramacionWebApiRest/obj/project.nuget.cache
ProgramacionWebApiRest/obj/Debug/net8.0/ProgramacionWebApiRest.AssemblyInfo.cs
ProgramacionWebApiRest/obj/Debug/net8.0/ProgramacionWebApiRest.AssemblyInfoInputs.cache
ProgramacionWebApiRest/obj/Debug/net8.0/ProgramacionWebApiRest.assets.cache
ProgramacionWebApiRest/obj/Debug/net8.0/ProgramacionWebApiRest.GeneratedMSBuildEditorConfig.editorconfig
ProgramacionWebApiRest/obj/ProgramacionWebApiRest.csproj.nuget.dgspec.json
ProgramacionWebApiRest/obj/project.assets.json
ProgramacionWebApiRest/obj/project.nuget.cache
ProgramacionWebApiRest/obj/Debug/net8.0/ProgramacionWebApiRest.AssemblyInfo.cs
ProgramacionWebApiRest/obj/Debug/net8.0/ProgramacionWebApiRest.AssemblyInfo.cs
*.cs
ProgramacionWebApiRest/obj/Debug/net8.0/ProgramacionWebApiRest.AssemblyInfo.cs
ProgramacionWebApiRest/obj/Debug/net8.0/ProgramacionWebApiRest.AssemblyInfoInputs.cache
ProgramacionWebApiRest/obj/Debug/net8.0/ProgramacionWebApiRest.assets.cache
ProgramacionWebApiRest/obj/Debug/net8.0/ProgramacionWebApiRest.GeneratedMSBuildEditorConfig.editorconfig
ProgramacionWebApiRest/obj/ProgramacionWebApiRest.csproj.nuget.dgspec.json
ProgramacionWebApiRest/obj/project.assets.json
ProgramacionWebApiRest/obj/project.nuget.cache
/ProgramacionWebApiRest/obj/Debug
ProgramacionWebApiRest/obj/Debug/net8.0/ProgramacionWebApiRest.AssemblyInfoInputs.cache
.vs/ProgramacionWebApiRest/FileContentIndex/a65a0e9d-34d8-4632-b679-0bad99eb8cb6.vsidx
